.container {
  background-color: #fff;
  color: blue;
}

  .cptatoner {  

  }

p {
  color: blue;
} 
 .rule {

 }
#bob {
  font-size: 12em;
}
   
div {
  width: 50px;
  }
   
/*comment simple*/
span {
  color: blue;
/* */
}