.container {
  background-color: #fff
  color: blue
}

div {
  width: 50px;
  }
    
/* not identifying missing semi colon */
.class { color: blue }
.class { color: blue; } 

  .cptatoner {  

   }

p {
  color: blue;
} 
 .rule {

 }
#bob {
  font-size: 12em;
  funky
}
   
div {
  width: 50px;
  }
   
/*comment simple*/
span {
  color: blue;
/* */
}